<h1>Image Page</h1>

<%= image_tag @image.paperclip %>

<% @image.users.each do |user| %>
  <%= user.email %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.id == @image.owner_id %>
      <h4>Tag Friends with Profile Accounts</h4>
      <%= simple_form_for(@image) do |f| %>
        <%= f.association :users, collection: @useremail, as: :check_boxes %>
        <%= f.button :submit %>
      <% end %>

    <br>
    <p><%= link_to "Edit", edit_user_image_path(@user, @image) %></p>
    <p><%= link_to "Delete Image", user_image_path(@user, @image), :data => {:confirm => "REALLY???", :method => "delete"} %></p>
  <% end %>
<% end %>
