<!DOCTYPE html>
<html>
  <head>
    <title>Flickr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">FakrFlickr</a>
        <% if user_signed_in? %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            Logged in as <%= current_user.email %>
            <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
            <li><%= link_to 'Log-out', destroy_user_session_path, method: :delete %></li>
            <li class="round-image-50"><%= image_tag current_user.avatar.url(:thumb) %></li>
          </ul>
        <% else %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
